<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/detail.css" rel='stylesheet' />
    <title>Document</title>
</head>
<body>
    <div class='headContainer'>
        <a class="btnStyle deleteItem">删除</a>
        <a class="btnStyle deleteAll">清空列表</a>
    </div>
    <div class='listContainer'>
        <ul class='myul'>
            <input type='checkbox' />
            <li>歌曲</li>
            <li>歌手</li>
            <li>时长</li>
        </ul>
        <div class="exchange"></div>
        <ul class='myul'>
            <input type='checkbox' />
            <li>歌曲</li>
            <li>歌手</li>
            <li>时长</li>
        </ul>
    </div>
</body>
</html>