<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/list.css" rel='stylesheet' />
    <title>Document</title>
</head>
<body>
    <button class='changeSkin'>换肤</button>
    <div class='singerContainer'>
        <img class='headImg' src='../static/img/singer.jpg' />
        <div class='singerRight'>
            <span class='singerName'>薛之谦</span>
            <span class='singerDetail'>外文名：Joker 国籍：中国 出生地：上海 职业：歌手、演员、主持人</span>
            <span>
                <span class='titleKey'>单曲</span>
                <span class='titleValue'>286</span>
                <span class='titleKey'>专辑</span>
                <span class='titleValue'>15</span>
                <span class='titleKey'>MV</span>
                <span class='titleValue'>262</span>
            </span>
            <div class='mytbn'>
                <span class='hotSong'>播放热门歌曲</span>
                <span class='attention'>关注1314.4万</span>
            </div>
        </div>
    </div>
    <div class='songList'>
        <div class='hotSongList'>
            <h2>热门歌曲</h2>
        </div>
        <ul class='listContainer grayWord'>
            <li class="grayWord"></li>
            <li>歌曲</li>
            <li>专辑</li>
            <li>时长</li>
        </ul>
        <ul class="listContainer">
            <li class="grayWord">1</li>
            <li>你好</li>
            <li>你好</li>
            <li class="grayWord">12：00</li>
            <span class="btnController">
                <a href="#">
                    <img src="../static/img/play.png">
                </a>
                <img src="../static/img/add.png">
            </span>
          </ul>
    </div>
</body>
</html>