<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div id="app">
        <button @click="showDate=!showDate">showDate</button>
        <hr>
        <!-- <p v-if="showDate">{{getNow()}}</p> -->
        <p v-if="showDate">{{now}}</p>
    </div>
</body>
<script src="./js/vue.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            showDate: false
        },
        computed: {
            now() {
                return Date.now()
            }
        },
        methods: {
           getNow() {
               return Date.now()
           }
        },
    })
</script>
</html>