body {
    margin: 0;
    min-height: 100vh;
    background: url(./imgs/bg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}
#wrap {
    margin: auto;
    width: 360px;
    height: 520px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0px 0px 10px #000;
    border-radius: 5px;
}
#date {
    position: relative;
    height: 91px;
}
#clock-wrap {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    background: #eeeded;
    border-radius: 50%;
    left: 28px;
    top: -72px;
    box-shadow: 0 0 5px #000;
    padding: 10px;
}
#clock {
    width: 110px;
    height: 110px;
    background: url('./imgs/clock-bg.png') no-repeat center center;
    border: 5px solid #e15671;
    border-radius: 50%;
}
#box {
    position: relative;
}
.dot {
    width: 7px;
    height: 7px;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    left: 52px;
    top: 52px;
}
.hour {
    width: 7px;
    height: 35px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 52px;
    top: 22px;
    transform-origin: center 33px;
}
.min {
    width: 4px;
    height: 44px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    left: 53px;
    top: 14px;
    transform-origin: center 42px;
}
.sec {
    width: 43px;
    height: 44px;
    background: url(./imgs/hand.png);
    position: absolute;
    left: 18px;
    top: 16px;
    transform: rotateZ(43deg);
    transform-origin: 37px 39px;
}
#lattice-list {
    position: relative;
}
.lattice {
    width: 2px;
    height: 6px;
    background: #fff;
    position: absolute;
    left: 55px;
    transform-origin: left 55px;
}
#now {
    position: absolute;
    left: 189px;
    top: 15px;
}
#now p {
    font-size: 14px;
    line-height: 26px;
}
#ctrls {
    width: 100%;
    height: 37px;
    line-height: 37px;
    background: #e1e1e1;
}
#ctrls #option {
    color: #3a3a3a;
    float: left;
    margin-left: 23px;
}
#ctrls #arrows {
    float: right;
    margin-right: 22px;
}
#ctrls #arrows a {
    float: left;
    width: 23px;
    height: 23px;
    margin-top: 14px;
    margin-left: 20px;
}
#arrows #prev {
    background: url(./imgs/prev.png) no-repeat;
}
#arrows #next {
    background: url(./imgs/next.png) no-repeat;
}
#main {
    display: flex;
    height: 391px;
    position: relative;
    overflow: hidden;
}
.board {
    min-width: 320px;
    max-width: 328px;
    height: 370px;
    display: flex;
    padding: 21px 16px 0;
    flex-wrap: wrap;
    position: absolute;
}
.week{
    width: 322px;
    height: 46px;
    background: rgba(255, 255, 255, .5);
    display: flex;
    border-radius: 23px;
    color: #3a3a3a;
}
.date{
    display: flex;
    flex-wrap: wrap;
    width: 322px;
}
.date-cell{
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 50%;
    text-align: center;
    color: #3a3a3a;
}
.other-date{
    color: #999;
}
.month{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 328px;
    height: 370px;
}
.month-cell{
    width: 82px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.year{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.year-cell{
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #3a3a3a;
    border-radius: 50%;
    cursor: pointer;
}
.other-yaer{
    color: #a2a2a2;
}
.active{
    color: #fff;
    background-color: #e15671;
}
* moveStyle */
.toBottom{
    animation: toBottom 0.3s ease;
    animation-fill-mode: both;
}
@keyframes toBottom{
    from { top: -390px }
    to { top: 0px }
}
.toTop{
    animation: toTop 0.3s ease;
    animation-fill-mode: both;
}

@keyframes toTop{
    from { top: 390px }
    to { top: 0 }
}
.bottomOut{
    animation: bottomOut 0.3s ease;
    animation-fill-mode: both;
}
@keyframes bottomOut{
    from { top: 0 }
    to { top: 390px }
}
.topOut{
    animation: topOut 0.3s ease;
    animation-fill-mode: both;
}
@keyframes topOut{
    from { top: 0 }
    to { top: -390px }
}
.toHide{
    animation: toHide 0.3s ease;
    animation-fill-mode: both;
}
@keyframes toHide{
    from { opacity: 1; transform: scale(1) }
    to { opacity: 0; transform: scale(0) }
}
.toShow{
    animation: toShow 0.3s ease;
    animation-fill-mode: both;
}
@keyframes toShow{
    from { opacity: 0; transform: scale(2) }
    to { opacity: 1; transform: scale(1) }
}
.toBlow{
    animation: toBlow 0.3s ease;
    animation-fill-mode: both;
}
@keyframes toBlow{
    from { opacity: 1; transform: scale(1) }
    to { opacity: 0; transform: scale(2) }
}
.toNarrow{
    animation: toNarrow 0.3s ease;
    animation-fill-mode: both;
}
@keyframes toNarrow{
    from { opacity: 0; transform: scale(0) }
    to { opacity: 1;transform: scale(1) }
}