doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src="js/detail.js" type='text/javascript')
    link(href='css/detail.css', rel='stylesheet')
    title Document
  body
    .headContainer
      a.btnStyle.deleteItem 删除
      a.btnStyle.deleteAll 清空列表
    .listContainer
      ul.myul
        input(type='checkbox')
        li 歌曲
        li 歌手
        li 时长
      .exchange
